.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgb(205, 75, 39) !important;
    padding: 1px;
}

.form-control{
    background-color: #F1D1A9;
    padding: .375rem 2rem;
    font-size: 1.5rem;
}

.navbar-text{
    color: #F1D1A9;
    font-size: 2.5rem;
}

body{
    font-family: "Chela One", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #E0937D;
}

.side {
    width: 85px;
    height: 100%;
    background-color: rgb(205, 75, 39);
    overflow: auto;
    position: absolute;
}
  
.side a {
    display: block;
    color: #F1D1A9;
    text-decoration: none;
    padding: 17px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.side a.active{
    background-color: #a43c1f;
}

.b{
    background-color: #cd4b27;
    color: #F1D1A9;
    border: 0px;
}

.b:hover{
    background-color: rgb(196, 53, 13);
}

.card{
    background-color: #cd4b27;
    color: #F1D1A9;
}

.card-text{
    outline: #a43c1f;
}

.table{
    width: 85%;
    margin-left: 130px;
    border-color: #672614;
}

.table td{
    color: #672614;
    background-color: #E0937D;
}

.table th{
    background-color: #E0937D;
}

.remove {
    display: none;
    color: #cd4b27;
}

th:hover .add{
    display: none;
}

th:hover .remove{
    display: inline;
}

.mb-4 a{
    color: #672614;
    margin-left: 4%;
}
.ms-5 a:hover{
    color: #F1D1A9;
}

.btn{
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px;
    color: #cd4b27;
}

@media(max-width: 600px){
    .navbar-text{
        display: none;
    }
    .side{
        width: 100%;
        height: auto;
        position: relative;
    }.side a{
        float: left;
    }
    .form-control{
        margin-top: 10px;
    }
    .table{
        margin-left: 10px;
        margin-right: 10px;
        width: 80%;
    }
    .mb-4 a{
        margin-left: 0%;
    }
}

@media(max-width:500px){
    .navbar-brand{
        display: none;
    }
    .c{
        margin-left: 0px;
    }
}

@media(min-width: 700px){
    .form-control{
        width: 400px;
    }
}


